<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <link rel="stylesheet" href="first/style/base.css">
    <link rel="stylesheet" href="first/style/index.css"> -->
</head>

<body>
    <!-- <div class="w ">
        <nav class="transparentt clearfix">
            <div class="name">
                <a href="#">Laohoo</a>
            </div>
            <div class="blog">
                <a class="toBlog">Blog</a>
            </div>
            <div class="project">
                <a class="toProject" href="https://github.com/liuhao-hrbust/">Project</a>
            </div>

        </nav>
    </div> -->

    <div class="big-banner">
        <video id="home_page_video" src="../../source/HomePageVideo.webm" autoplay="autoplay" loop="loop" cover></video>
        <div class="bk-left">
            <div class="discrib_l discrib">
                <img src="../../source/head.jpg" alt="头像">
                <h4>我是刘浩</h4>
                <p>大三学生</p>
                <p>努力到无能为力，拼搏到感动自己</p>
            </div>
            <div class="door onl"></div>

        </div>

        <div class="bk-right">
            <div class="discrib_r discrib">
                <img src="../../source/head.jpg" alt="头像">
                <h4>我是刘浩</h4>
                <p>大三学生</p>
                <p>努力到无能为力，拼搏到感动自己</p>
            </div>
            <div class="door onr"></div>
        </div>
        <div class="round-l round">
            <p class="toBlog">Blog</p>
        </div>
        <div class="round-r round">
            <p class="toProject">
                <a href="https://github.com/liuhao-hrbust/">Projects</a>
            </p>
        </div>
    </div>

</body>

</html>